<div class="card mb-7">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <!-- Title -->
          <h1 class="h3 mb-0 ls-tight">Amenities</h1>
      </div>
      <!-- Actions -->
      <div class="col-sm-6 col-12 text-sm-end">
          <div class="mx-n1">
          <%= link_to "", class:"btn d-inline-flex btn-sm btn-primary mx-1" do %>
              <span class=" pe-2">
              <i class="bi bi-plus"></i>
              </span>
              <span>Add New</span>
          <%end%>
          </div>
      </div>
    </div>  
  </div>
  <%= form_for @room, url: admin_property_room_path(@property, @room), method: :put do |f| %>
   <fieldset>
    <div class="table-responsive" id="room_amenities_container" >
      <table class="table table-hover table-nowrap">
        <thead class="table-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Position</th>
            <th scope="col">Active</th>
            <th scope="col">Extra Charge</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="room_amenities_list">
          <%= f.fields_for :room_amenities do |ra_form| %>
            <%= render 'room_amenity_fields', f: ra_form %>
          <% end %>
        </tbody>
      </table>
    </div>
   </fieldset>
  <% end %>
</div>  