<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to admin_property_room_room_amenities_path(@property, @room), class: 'nav-link' do %>
      <i class="bi bi-house-fill"></i> Amenities
    <% end %>
  </li>
</ul>