<h1>Payment Method Details</h1>

<p>
  <strong>Name:</strong>
  <%= @payment_method.name %>
</p>

<%= link_to 'Edit', edit_admin_payment_method_path(@payment_method), class: 'btn btn-primary' %>
<%= link_to 'Back', admin_payment_methods_path, class: 'btn btn-secondary' %>
