<% content_for :page_title do %>
  Store
  <%= render partial: 'stay/admin/stores/tabs', locals: {current: :translations} %>
<% end %>

<div class="row" style="display: block">
  <%= render 'stay/admin/translations/form', resource: @store %>
</div>
