<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to admin_property_rooms_path(@property), class: 'nav-link' do %>
      <i class="bi bi-house-fill"></i> Rooms
    <% end %>
  </li>
</ul>
