<h2>Properties Listing</h2>
<div class="container mt-5">
    <div class="row">
            <div class="col-md-3">
                <div class="card product-card shadow-sm position-relative">
                    <img src="https://images.pexels.com/photos/594077/pexels-photo-594077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/400x300" class="card-img-top" alt="Room Image">
                    <button class="btn btn-outline-secondary btn-sm share-btn position-absolute">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Stay in Prince's Purple Rain house</h5>
                        <p class="hosted-by text-truncate">Hosted by Wendy and Lisa</p>
                        <p class="card-text-status">Coming September</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product-card shadow-sm position-relative">
                    <img src="https://images.pexels.com/photos/594077/pexels-photo-594077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/400x300" class="card-img-top" alt="Room Image">
                    <button class="btn btn-outline-secondary btn-sm share-btn position-absolute">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Join a living room session doja</h5>
                        <p class="hosted-by text-truncate">Hosted by Doja Cat</p>
                        <p class="card-text-status">Coming October</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product-card shadow-sm position-relative">
                    <img src="https://images.pexels.com/photos/594077/pexels-photo-594077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/400x300" class="card-img-top" alt="Room Image">
                    <button class="btn btn-outline-secondary btn-sm share-btn position-absolute">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Sleepover at Polly Pocket's Compact</h5>
                        <p class="hosted-by text-truncate">Hosted by Polly Pocket</p>
                        <p class="card-text-status">Sold out</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product-card shadow-sm position-relative">
                    <img src="https://images.pexels.com/photos/594077/pexels-photo-594077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/400x300" class="card-img-top" alt="Room Image">
                    <button class="btn btn-outline-secondary btn-sm share-btn position-absolute">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Sleepover at Polly Pocket's Compact</h5>
                        <p class="hosted-by text-truncate">Hosted by Polly Pocket</p>
                        <p class="card-text-status">Sold out</p>
                    </div>
                </div>
            </div>
    </div>
</div>
<style>
    .share-btn {
        top: 10px;
        right: 10px;
    }
</style>